@import url('./nullstyle.css');

html,
body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 500;
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #4c4444;
	background-color: #ffffff;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
[class*="__container"]{
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
/*HEADER*/
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #655f5b9f;
}
.header__container {
	display: flex;
	justify-content: space-between;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px){
	.header__container{
		min-height: 80px;
	}
}
.header__logo {

}
.header__logo img{
	max-width: 120px;
	/* opacity: 1; */
}
@media (max-width: 470px){
	.header__container{
		padding: 0 5px;
	}
	.header__logo img{
		width: 90px;
		/* opacity: 1; */
	}
}

@media (max-width: 991.98px){
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px){
	.header__menu {
		margin: 0px 0px 0px 50px;
	}
}
@media (max-width: 479px){
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
	.menu__link{
		font-size: 18px;
	}
}

.menu {
	padding: 5px 0px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {

}
.menu__item:not(:last-child){
	margin: 0px 21px 0px 0px;
}
.menu__link {
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
	font-weight: 600;
	line-height: 171.428571%; /* 24/14 */
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 1px;
   transition: background-size .3s;
}
.menu__link:hover{
	background-size: 100% 1px;
}
/*======================================================*/
/*============HEADER-BLOCK=============================================*/
.header-block {
	padding: 40px 0px 50px 0px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #f37d28;
}
.header-block__title {
	line-height: 142%;
	font-size: 44px;
	font-weight: 700;
}
.header-block__title:not(:last-child){
	margin: 0px 0px 10px 0px;
}
.header-block__subtitle {
	font-size: 16px;
}
@media (max-width: 991.98px){
	.header-block__title{
		font-size: 35px;
	}
}
@media (max-width: 767px){
	.header-block__title{
		font-size: 30px;
	}
}
/*======================================================*/

.page {
}
.page__container {
}
.page__content {

}
.content-page {
	margin: 120px 0px 0px 0px;
	padding: 0px 0px 10px 0px;
	background-color: #ffffff;
}
@media (max-width: 940px){
	.content-page {
		margin: 120px 0px 0px 0px;
		padding: 0px 0px 20px 0px;
		background-color: #ffffff;
	}
	.header-block{
		padding: 20px;
	}
}
.content-page__header {
}
.content-page__text {
}
/*===================Slider==========================*/
.slick-slider{
	
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: center;
}


.slick-slide{}
.slick-slide.slick-active{}
.slick-slide.slick-current{}
.slick-slide.slick-center{}


.slick-arrow{}
.slick-arrow.slick-prev{}
.slick-arrow.slick-next{}
.slick-arrow.slick-disabled{}


.slick-dots{}
.slick-dots li{}
.slick-dots button{}


.slider{
	position: relative;
	padding: 0 10px;
}
.slider .slick-arrow{
	position: absolute;
	top: 35%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 100px;
}
.slider .slick-arrow.slick-prev{
	left: -20px;
	background: url('/img/slider/icon/greenArrow.svg') 0 0 / 100% no-repeat;
	transform: rotate(-90deg);
	opacity: 0.6;
}
.slider .slick-arrow.slick-next{
	right: -20px;
	background: url('/img/slider/icon/greenArrow.svg') 0 0 / 100% no-repeat;
	transform: rotate(90deg);
	opacity: 0.6;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 15px 40px 0px;
	margin-top: 30px;
}
.slider .slick-dots button{
	border-radius: 50%;
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #ff7c185c;
}
.slider .slick-dots li.slick-active button{
	background-color: #ff8325;
	width: 25px;
	height: 25px;
}


.slider__item{
	text-align: center;
	overflow: hidden;
	height: 500px;
}

.slider__item img{
	width: 100%;
	height: 100%;
	object-fit:scale-down;
}
@media (max-width: 940px){
	.slider .slick-dots button{
		width: 10px;
		height: 10px;
	}
	.slider .slick-dots li.slick-active button{
		width: 15px;
		height: 15px;
	}
}
@media (max-width: 395px){
	.slider__item img{
		height: 240px;
	}
	.slider__item{
		text-align: center;
		overflow: hidden;
		height: 240px;
	}
	.slider{
		padding:5px;
	}
	.slider .slick-dots button{
		width: 5px;
		height: 5px;
	}
	.slider .slick-dots li.slick-active button{
		width: 10px;
		height: 10px;
	}
	.slider .slick-dots li{
		margin: 0px 10px 10px 0px;
		margin-top: 20px;
	}
}
